*~
 *.o
UserTools/*/*.o
DataModel/*.o
Dependencies
main
 *.d
*.root
*.so
*.a
*.pcm
*.pyc
lib/*
include/*
DataModel/NTagDataModelDict.cxx
BStore_RootDict.cxx
BStore_RootDict.h
BStore_Linkdef_1.hh
UserTools/BackupSpallTMVA/#SpallTMVA.cpp#
UserTools/myFirstTool
UserTools/mySecondTool
rootFiles/SKDETSIM/Recon/skdetsim.lowfit.r61646.1.mcfit.nt
rootFiles/SKDETSIM/Recon/skdetsim.lowfit.r61650.1.mcfit.nt
.DS_Store
.bashrc
AbsResolution.pdf
DataModel/#DataModel.h#
PDFs/ReconstructionPlots
NodeDaemon
RemoteControl
draw
muons_1000.dat
testPDF.pdf
testout.csv
vars
vect_IBD_1000.dat
vect_IBD_1M.dat
vectgen_out.dat
vectgen_out.zbs
NTagDataModelDict.o
